.custom-btn .ico-btn {
    color: grey;
    padding: 12px 16px 12px 40px;
    background:url(http://www.w3.org/2000/svg) no-repeat 13px 9px;
    background-size: 25px auto;
    background-color:#eaeaea;
 }